div{
    /* display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width:auto;
    border: 1; */
    /* display: flex;
    justify-content: center; */

    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center ;
   
    /* margin-top: 30%; */
    
}

form{
    border:black solid ;
    padding:2%
}

input.ng-invalid{
    border-left:5px solid red;
}

input.ng-valid{
    border-left:5px solid green ;
}

.error{
    color:red;
}